/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   -------------------------

        CSS RESET

    -----------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:visited { color: initial; }
a { color: initial; }

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-black { color: rgba(0, 0, 0, 1); }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-darker { color: rgba(0, 0, 0, 0.8); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* -----------------

    NAVBAR

   -----------------*/

.navbar {
    width: 100%;
    height: 2.8rem;
	top: 0;
    position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row nowrap;
    border-bottom: 1px solid #e2e2e2;
	background-color: white;
}

.navbar img {
	margin: 0 6rem;
}

.navbar-left {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
	font-family: 'Roboto', sans-serif;
}

.navbar-left a {
	font-size: 0.9rem;
	text-decoration: none;
	color: black;
}

.navbar-left a:hover { text-decoration: underline; }

.navbar-left span {
	margin-right: 24px;
}

.navbar-right {
	height: 100%;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.navbar-right button {
	position: relative;
	background-color: #567b95;
	color: white;
	border: 1px solid #326891;
	border-radius: 4px;
	height: 75%;
	margin-right: 8px;
}

/* ----------------

	ARTICLE

   ----------------*/

.main-cont { 
	margin-top: 5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.main-header {
	font: italic 700 2.5rem Georgia, 'Times New Roman', Times, serif;
	border-bottom: 1px solid #e2e2e2;
	height: 7.5rem;
	width: 38rem;
}

/* ||| 
	SOCIAL BUTTONS ABOVE ARTICLE 
||| */

.social-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 4.4rem;
	width: 38rem;
}

.social-circle {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 50%;
	height: 27px;
	width: 27px;
	margin-right: 18px;
}

/* |||
	ALAN GUTH PICTURE
||| */


.guth-caption {
	color: #666;
	font: normal 500 1rem Georgia, 'Times New Roman', Times, serif;
	margin-top: 8px;
}

.guth-caption span {
	color: #888;
	font-size: 0.85rem;
	margin-left: 2px;
}

/* |||
	AUTHOR OF THE ARTICLE
||| */

.article-author {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 38rem;
	height: 9rem;
	color: #333;
	font: normal 600 .96rem Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #e2e2e2;
}

.author-name { 
	text-decoration: underline 1px #ccc;
	color: #333;
}

.author-name:visited { color: #333; }
.author-name:hover { text-decoration: none; }

.author-date {
	margin-top: 1rem;
	font: normal 500 .80rem Arial, Helvetica, sans-serif;
}

/* |||
	SIGN UP BTN BELLOW AUTHOR
||| */

.subscribe-btn {
	float: right;
	margin-top: 6px;
	padding: 0 16px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	color: black;
	font-size: 0.92rem;
	font-weight: 700;
	height: 2.25rem;
}

.subscribe-btn:hover {
	background-color: black;
	color: white;
}

.subscribe-cont {
	color: rgb(51, 51, 51);
	font: normal 700 .85rem Arial, Helvetica, sans-serif;
	line-height: 1.15rem;
	padding-top: 14px;
	text-align: left;
	width: 38rem;
	margin-bottom: 1.2rem;
}

.subscribe-innertext {
	font: italic 500 1.2rem Georgia, 'Times New Roman', Times, serif;
}

/* |||

	ARTICLE PARAGRAPHS

||| */

.firstPart-cont, 
.secondPart-cont {
	font: normal 500 1.32rem Georgia, 'Times New Roman', Times, serif;
	line-height: 1.875rem;
	color: #333;
	width: 38rem;
}

.secondPart-cont > :first-child { margin-top: .7rem; }

.firstPart-cont p, 
.secondPart-cont p { margin-bottom: .9rem; }

.firstPart-cont p a,
.secondPart-cont p a { 
	color: #326891;
	text-decoration: underline; 
}

.firstPart-cont p a:hover,
.secondPart-cont p a:hover {
	text-decoration: none;
}

/* |||
	THANKS FOR READING THE TIMES BOX
||| */

.thanks-subscribe {
	position: relative;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	height: 5rem;
	width: 38rem;
	font: normal 600 .95rem Arial, Helvetica, sans-serif;
	color: #333;
}

.thanks-subscribe div {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 100%;
	width: 5rem;
	border-bottom: 1px solid rgb(204, 204, 204);
	border-top: 1px solid rgb(204, 204, 204);
}

.thanks-link {
	color: rgb(50, 104, 145);
	text-decoration: none;
	z-index: 3;
}

.thanks-link:visited {
	color: rgb(50, 104, 145);
}